<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<div>
<count>
  Curently we have  <%=@product_count%> products on the web ranging over <%=@category_count%> categories
</count>
</div>