<section class="admin-products-index">
    <div>

      <div class="well">
        <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
      </div>

      <table>
          <thead>
            <tr>
              <th>Categories</th>
            </tr>
          </thead>
        <tbody>
          <%= render @categories %>
        </tbody>
      </table>

    </div>
</section>
